<!-- <section class="crosstalk__section">
<div class="crosstalk__area">
  <div class="title__img">
    <img src="images/cross_talkbimg.svg" alt="" />
    <p class="title_sp">座談会</p>
  </div>

  <div class="crosstalk__area--item">
    <div class="crosstalk__new">
      <p class="crosstalk__number1">01</p>
      <img src="images/crosstalk_img.svg" alt="" />

      <div class="dec__area">
        <p>入社1～2年目の社員</p>
        <a href=""><img src="images/crosstalk_btn64.svg" alt="" /></a>
      </div>
    </div>

    <div class="crosstalk__parents">
      <p class="crosstalk__number2">02</p>
      <img src="images/crosstalk_ppmmimg.svg" alt="" />

      <div class="dec__area">
        <p>働くパパママ</p>
        <a href=""><img src="images/crosstalk_btn64.svg" alt="" /></a>
      </div>
    </div>
  </div>

  <div class="crosstalk__area--item">
    <div class="crosstalk__new">
      <p class="crosstalk__number1">01</p>
      <img src="images/crosstalk_img.svg" alt="" />

      <div class="dec__area">
        <p>入社1～2年目の社員</p>
        <a href=""><img src="images/crosstalk_btn64.svg" alt="" /></a>
      </div>
    </div>

    <div class="crosstalk__parents">
      <p class="crosstalk__number2">02</p>
      <img src="images/crosstalk_ppmmimg.svg" alt="" />

      <div class="dec__area">
        <p>働くパパママ</p>
        <a href=""><img src="images/crosstalk_btn64.svg" alt="" /></a>
      </div>
    </div>
  </div>
</div>
</section> --><!-- <style>
  .crosstalk__area {
    position: relative;
    width: 100vw;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  .title__img {
    display: flex;
    margin-inline: auto;
    width: 1146px;

    @media screen and (max-width: 768px) {
      max-width: 340px;
      display: block;
      justify-content: center;
    }
  }

  .title__img img {
    display: flex;
    margin-inline: auto;
    width: 1146px;

    @media screen and (max-width: 768px) {
      max-width: 340px;
      margin-block-start: 48px;
      position: relative;
    }
  }

  .title_sp {
    display: none;

    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 51px;
      height: 16px;
      background-color: #000;
      color: #fff;
      font-size: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  .crosstalk__area--item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 100;
    position: absolute;
    top: 85%;
    @media screen and (max-width: 768px) {
      display: block;
      width: 100vw;
      top: 177px;
    }
  }

  .crosstalk__number1 {
    font-family: roboto;
    font-size: 90px;
    font-weight: bold;
    color: #696969;
    z-index: 500;
    position: absolute;
    left: 2%;
    top: -10%;
  }

  .crosstalk__number2 {
    font-family: roboto;
    font-size: 90px;
    font-weight: bold;
    color: #696969;
    z-index: 500;
    position: absolute;
    left: 52%;
    top: -10%;
    @media screen and (max-width: 768px) {
      left: 2%;
      top: 47%;
    }
  }
  .crosstalk__new {
    width: 50vw;

    @media screen and (max-width: 768px) {
      width: 100vw;
      margin-block-end: 72px;
    }
  }

  .crosstalk__new img {
    position: relative;
    width: 50vw;
    object-fit: contain;
    vertical-align: bottom;
    @media screen and (max-width: 768px) {
      width: 100vw;
    }
  }

  .crosstalk__parents img {
    width: 50vw;
    object-fit: contain;
    vertical-align: bottom;
    @media screen and (max-width: 768px) {
      width: 100vw;
    }
  }

  .dec__area {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-left: 1px solid #000;
  }
  .dec__area p {
    font-size: 24px;
    margin-inline-start: 32px;
  }
  .dec__area img {
    width: 64px;
    padding-inline-end: 16px;
  }
</style> -->
