<section class="section">
  <div class="entry">
    <div class="entry__area">
      <div class="entry__post">
        <div class="entry__btn">
          <a href="#"
            >エントリーはこちら
            <img src="/images/links_icon.svg" alt="サイトリンクアイコン" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  @charset "UTF-8";

  ul {
    list-style: none;
  }

  a {
    /* color: #000; */
    text-decoration: none;
  }

  .entry__area {
    background-image: url(/images/entry_bgpc.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    max-height: 320px;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end: 80px;
    @media screen and (max-width: 768px) {
      background-image: url(/images/entry_bgsp.png);
      max-width: 360px;
      max-height: 189px;
      height: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-block-end: 57px;
    }
  }

  .entry__post {
    width: 100%;
    max-width: 953px;
    max-height: 320px;
    height: 25vw;
    background-image: url(/images/entry_textpc.svg);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;

    @media screen and (max-width: 768px) {
      width: 100vw;
      margin-block: auto;
      height: 189px;
      background-image: url(/images/entry_textsp.svg);
      margin-block-start: 19px;
    }
  }

  .entry__title {
    margin-block-end: 25px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
  }

  .entry__post p {
    margin-block-end: 20px;
    color: #fff;
  }

  .entry__btn img {
    /* position: absolute; */
    width: 14px;
    height: 14px;
  }
  .entry__btn a {
    font-size: 32px;
    display: flex;
    justify-content: center;
    width: 415px;
    height: 73px;
    align-items: center;
    margin-inline: auto;
    background: #000;
    color: #fff;
    gap: 10px;
    @media screen and (max-width: 768px) {
      font-size: 16px;
      width: 262px;
      height: 55px;
    }
  }

  @media screen and (max-width: 768px) {
    .entry {
      display: flex;
      justify-content: center;
      width: 100vw;
    }
  }
</style>
