<footer>
  <div class="section__footer">
    <div class="footer__area">
      <!-- 左のカラム -->
      <div class="footer__left">
        <div class="footer__area--left">
          <h1 class="footer__logo">
            <img src="images/footerlogo.svg" alt="" />
          </h1>
          <div class="btn__area">
            <div class="bottan__area">
              <a href="#" class="btn">Official Site </a>
              <img src="images/links_icon.svg" alt="" />
            </div>
          </div>

          <div class="social-icons">
            <div>
              <a href="#"><img src="images/x_logo.svg" alt="" /></a>
            </div>
            <div>
              <a href="#"><img src="images/instagram_logo.svg" alt="" /></a>
            </div>
            <div>
              <a href="#"><img src="images/note_logo.svg" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
      <!-- 中央のカラム -->
      <div class="footer__center">
        <div class="footer__area--center">
          <div class="position__area">
            <div class="menu__title--area">
              <h2 class="title__position">Position</h2>
              <p class="subtitle__position">ポジション</p>
            </div>
            <div class="position__menu--list">
              <ul>
                <li class="list__arrow"><a href="#">企画営業</a></li>
                <li class="list__arrow"><a href="#">企画・制作</a></li>
                <li class="list__arrow"><a href="#">エンジニア</a></li>
              </ul>
            </div>
          </div>
          <div class="system__area">
            <div class="system__title--area">
              <a href=""><h2>Benefits <br /> System</h2></a>
              <p>制度・福利厚生</p>
            </div>
          </div>
          <div class="data__area">
            <div>
              <div class="data__title--area">
                <h2>Data</h2>
                <p>データ</p>
              </div>
              <div class="data__menu--list">
                <ul>
                  <li class="list__arrow"><a href="#">数字でみるSAMPLE</a></li>
                  <li class="list__arrow"><a href="#">Q&A</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- 右のカラム -->
        <div class="footer__right">
          <div class="member__area">
            <div class="member__title--area">
              <a href=""
                ><h2>Member</h2>
                <p>社員紹介</p></a
              >
            </div>
          </div>

          <div class="crosstalk__area">
            <div>
              <div class="crosstalk__title--area">
                <h2>Cross Talk</h2>
                <p>座談会</p>
              </div>
              <div class="crosstalk__menu--list">
                <ul>
                  <li class="list__arrow"><a href="#">入社1〜2年目社員</a></li>
                  <li class="list__arrow"><a href="#">働くパパママ社員</a></li>
                </ul>
              </div>
            </div>
          </div>

          <h2>Cross Talk <span>座談会</span></h2>
          <ul>
            <li>入社1〜2年目社員</li>
            <li>働くパパママ社員</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__links-area">
      <div class="footer__links">
        <a href="#" class="security">情報セキュリティの取り組み</a>
        <a href="#">個人情報保護方針</a>
      </div>
      <p>© SAMPLE Inc., All Rights Reserved.</p>
    </div>
  </div>
</footer>

<style>
  /* 全体設定 */
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #fff;
  }

  @media screen and (min-width: 768px) {
    .hamburger__menu--area {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .section__footer {
      display: none;
    }
  }

  footer {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a:hover {
    opacity: 0.7;
  }
  footer h2 {
    font-family: 'Roboto';
  }
  footer p {
  }

  .footer__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* 3列レイアウト設定 */
  .footer__area {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__area--left {
    width: 290px;
    margin-inline-end: 70px;
  }
  .footer__logo {
    margin-block-end: 66px;
    margin-block-start: -40px;
  }

  .btn__area a:hover {
    color: #000;
    background: #fff;
    opacity: 1;
  }

  .bottan__area {
    width: 267px;
    height: 54px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
    margin-block-end: 201px;
  }

  .bottan__area a {
    color: #fff;

    font-size: 18px;
    text-decoration: none;
    font-family: 'Roboto';
  }
  .bottan__area a:hover {
    color: #000;
    background: #fff;
    opacity: 1;
  }

  .social-icons {
    gap: 12px;
    display: flex;
  }
  .social-icons a {
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  .footer__center {
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  .footer__area--center {
    width: 290px;
  }
  .position__area {
    border-top: 1px solid #484848;
    border-bottom: 1px solid #484848;
    /* height: 220px; */
  }
  .menu__title--area {
    display: flex;
    align-items: center;
  }

  .title__position {
    margin-block-start: 27.5px;
  }

  .subtitle__position {
    margin-block-start: 27.5px;
  }
  .menu__title--area h2 {
    font-size: 28px;
    margin-inline-end: 18px;
    color: #fff;
    font-family: 'Roboto';
  }
  .menu__title--area p {
    font-size: 15px;
    color: #fff;
  }
  .position__menu--list {
    text-align: left;
    font-size: 15px;
  }
  .position__menu--list li {
    margin-block-end: 29px;
  }
  .position__menu--list ul {
    margin-block-end: 38px;
    margin-block-start: 24px;
  }
  .list__arrow {
    position: relative;
    padding-left: 20px;
    /* display: inline-block; */
  }
  .list__arrow:before {
    content: '';
    width: 5px;
    height: 5px;
    border: 0;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
  .menu__title--area {
    display: flex;
    margin-block: auto;
    padding: 0;
    font-family: 'Roboto';
  }
  .system__area {
    height: 96px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #484848;
  }

  .system__title--area {
    display: flex;
    color: #fff;
    gap: 18px;
  }
  .system__title--area h2 {
    font-size: 28px;
  }
  .system__title--area p {
    margin-block-start: 10px;
    font-size: 15px;
  }
  .data__title--area {
    display: flex;
    color: #fff;
    gap: 18px;
    align-items: center;
    margin-block-start: 24px;
  }

  .data__title--area h2 {
    font-size: 28px;
  }

  .data__title--area p {
    font-size: 15px;
  }

  .data__area {
    border-bottom: 1px solid #484848;
    height: 200px;
    display: flex;
    gap: 18px;
  }
  .data__menu--list li:nth-child(1) {
    margin-block-start: 27px;
    margin-block-end: 29px;
  }

  .footer__right {
    width: 320px;

    margin-inline-start: 40px;
  }
  .member__area {
    height: 96px;
    display: flex;
    align-items: center;

    border-bottom: 1px solid #484848;
    border-top: 1px solid #484848;
  }

  .member__title--area {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 18px;
    /* margin-block-start: 24px; */
  }

  .member__title--area h2 {
    font-size: 28px;
  }
  .member__title--area p {
    font-size: 15px;
  }
  .crosstalk__title--area {
    display: flex;
    color: #fff;
    gap: 18px;
    align-items: center;
    margin-block-start: 24px;
  }

  .crosstalk__title--area h2 {
    font-size: 28px;
  }

  .crosstalk__title--area p {
    font-size: 15px;
  }

  .crosstalk__area {
    border-bottom: 1px solid #484848;
    height: 200px;
    display: flex;
    gap: 18px;
  }
  .crosstalk__menu--list li:nth-child(1) {
    margin-block-start: 27px;
    margin-block-end: 29px;
  }

  .footer__links-area {
    color: #fff;
    display: flex;
  }

  .footer__links-area {
    display: flex;
    justify-content: space-between;
    margin-block-start: 40px;
  }

  .security {
    margin-inline-end: 20px;
  }

  /* ここからスマホ */

  /* .hamburger__menu--area {
    display: flex;
  } */
</style>
