<footer class="footer">
  <div class="footer__area">
    <div class="footer__left--area">
      <div class="footer__left--item">
        <h1 class="foooter__logo">
          <img src="/images/footerlogo.svg" alt="" />
        </h1>
        <div class="site__post">
          <a href="site__link--btn">
            <p>Offical Site</p>
            <img src="/images/links_icon.svg" alt="" />
          </a>
        </div>

        <div class="sns__logo">
          <img src="/images/x_logo.svg" alt="" />
          <img src="/images/instagram_logo.svg" alt="" />
          <img src="/images/note_logo.svg" alt="" />
        </div>
      </div>

      <!-- センター -->
      <!-- <div class="footer__center--area">
        <div class="title__position">
          <h2 class="accordion__title">Position</h2>
          <p class="sp__subtitle">ポジション</p>
        </div>

        <div class="position__list__link">
          <ul class="position__list__item">
            <li class="list__arrow"><a href="#">企画営業</a></li>
            <li class="list__arrow"><a href="#">企画・制作</a></li>
            <li class="list__arrow"><a href="#">エンジニア</a></li>
          </ul>
        </div>

        <div class="accordion__member--system">
          <a href="#"
            ><div class="menber__area">
              <h2 class="item__title">Member</h2>
              <p>社員紹介</p>
            </div>
          </a>

          <a href="#">
            <div class="bs__area">
              <h2 class="item__title">Benefits <br class="br__sp" /> System</h2>
              <p>制度・福利厚生</p>
            </div>
          </a>
        </div>
      </div> -->
    </div>
  </div>
</footer>
<style>
  @charset "UTF-8";

  ul {
    list-style: none;
  }

  a {
    /* color: #000; */
    text-decoration: none;
  }

  a:hover {
    opacity: 0.7;
  }
  .footer {
    background-color: #000;
    width: 100vw;
    height: 655px;
  }
</style>
