<header class="header">
  <!-- ロゴ -->
  <h1 class="hamburger__menu--logo">
    <img src="/images/hamburger_logo.svg" alt="ハンバーガーメニュー内ロゴ" />
  </h1>
  <!-- エントリーリンクとハンバーガー -->
  <div class="hamburger__link--nav">
    <div class="hamburger__link--entry">
      <a href="#">Entry</a>
    </div>

    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>

<style>
  /* body {
    background-color: #191919;
  } */
  ul {
    list-style: none;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 40px;
    margin-block-start: 14px;
    background-color: #191919;
  }

  .hamburger__menu--logo {
    width: 340px;
    height: 30.78px;
  }
  .hamburger__link--nav {
    display: flex;
    align-content: center;
  }

  .hamburger__link--entry {
    width: 174px;
    height: 46px;
    font-size: 24px;
    color: #fff;
    border: 1px solid #fff;
  }
</style>
