<header class="header">
  <h1 class="hamburger__menu--logo">
    <img src="/images/hamburger_logo.svg" alt="ハンバーガーメニュー内ロゴ" />
  </h1>

  <div class="hamburger__menu--link">
    <div class="hamburger__link--entry">
      <a href="#">Entry</a>
    </div>

    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 40px;
    margin-block-start: 14px;
    background-color: #191919;
  }
</style>
