<div class="hamburger__menu">
  <div class="hamburger__innner">
    <div class="hamburger__menu--item">
      <div class="hamburger__menu--nav">
        <h2 class="hamburger__logo">
          <img src="/images/hamburger_logo.svg" alt="ハンバーガーメニュー用ロゴ" class="img-pc" />
          <img src="/images/hamburger_logosp.svg" alt="ハンバーガーメニュー用ロゴ" class="img-sp" />
        </h2>
      </div>
      <div class="hamburger__link--entry">
        <a href="#" class="btn">Entry</a>
      </div>
    </div>
    <div class="hamburger__menu--list">
      <div class="hamburger__list--item1">
        <div class="accordion__position--area">
          <div class="accordion__title--area">
            <div class="title__position">
              <h2 class="accordion__title--position">Position</h2>

              <div class="accordion__icon"></div>

              <div class="sp__icon"></div>
            </div>
            <p>ポジション</p>
          </div>
          <div class="position__list__link">
            <ul class="position__list__item">
              <li class="position__list__arrow"><a href="#">企画営業</a></li>
              <li class="position__list__arrow"><a href="#">企画・制作</a></li>
              <li class="position__list__arrow"><a href="#">エンジニア</a></li>
            </ul>
          </div>
        </div>

        <div class="accordion__member--system">
          <a href="#" class="title__menber--area">
            <h2 class="accordion__title--menber">Member</h2>
            <p>社員紹介</p>
          </a>

          <a href="#" class="title__system--area">
            <h2 class="accordion__title--system">Benefits System</h2>
            <p>制度・福利厚生</p>
          </a>
        </div>
      </div>

      <div class="hamburger__list--item2">
        <div class="accordion__crosstalk--area">
          <div class="accordion__title--area">
            <div class="title__crosstalk">
              <h2 class="accordion__title--crosstalk">Cross talk</h2>
              <div class="crosstalk__icon"></div>
            </div>

            <p>座談会</p>
          </div>

          <div class="crosstalk__list__link">
            <ul class="crosstalk__list__item">
              <li class="crosstalk__list__arrow"><a href="#">入社1～2年目の社員</a></li>
              <li class="crosstalk__list__arrow"><a href="#">働くパパママ社員</a></li>
            </ul>
          </div>
        </div>

        <div class="accordion__data--area">
          <div class="accordion__title--area">
            <div class="title__data">
              <h2 class="accordion__title--data">Data</h2>
              <div class="data__icon"></div>
            </div>

            <p>データ</p>
          </div>

          <div class="data__list__link">
            <ul class="data__list__item">
              <li class="data__list__arrow"><a href="#">数字で見るSAMPLESAMPLE</a></li>
              <li class="crosstalk__list__arrow"><a href="#">Q&A</a></li>
            </ul>
          </div>
        </div>
        <div class="link__site--area">
          <a href="#" class="link__site">
            <p>Official Site</p>
            <img src="/images/links_icon.svg" alt="サイトリンクアイコン" />
          </a>
        </div>

        <!-- <div class="sp__link--entry">
          <a href="#" class="btn">Entry</a>
        </div> -->
      </div>
    </div>
  </div>
</div>

<style>
  @charset "UTF-8";

  ul {
    list-style: none;
  }

  a {
    /* color: #000; */
    text-decoration: none;
  }

  a:hover {
    opacity: 0.7;
  }

  .hamburger__menu {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    display: none;
    /* overflow-y: hidden; */
  }

  .hamburger__menu.active {
    display: flex;
  }
  .hamburger__innner {
    color: #fff;
    overflow: hidden;
  }

  .hamburger__menu.active .hamburger__menu--item {
    display: flex;
    justify-content: space-between;
    height: 46px;
    width: 100vw;
    margin-block-start: 14px;
    margin-inline-start: 40px;
  }

  .hamburger__link--entry a {
    width: 174px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-end: 160px;
    font-size: 24px;
    color: #fff;
  }

  .btn:hover {
    width: 174px;
    border: 1px solid #fff;
    color: #000;
    background: #fff;
    /* transition: 0.4s;
    z-index: 500; */
  }

  .hamburger__menu--list {
    display: flex;
    /* margin-block: auto; */
    max-width: 960px;
    /* width: calc( 960/ 1280 * 100vw); */
    height: 378px;
    margin-inline: auto;
    margin-block-start: 83.22px;
  }

  .hamburger__list--item1 {
    gap: 80px;
  }
  /* ポジション */

  .accordion__position--area {
    max-width: 440px;
    /* width: calc( 440/ 1280 * 100vw); */
    /* height: 180px; */
    border-bottom: 1px solid #484848;
    cursor: pointer;
    padding-block-end: 24px;
  }

  .accordion__title--area.active {
    display: flex;
  }

  .accordion__title--area {
    position: relative;
  }

  .accordion__title--area p {
    font-size: 16px;
    margin-block-end: 24px;
  }

  .title__position {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordion__icon {
    max-width: 36px;
    width: calc(36 / 1280 * 100vw);
    height: 36px;
    background-image: url(/images/plus.svg);
    background-repeat: no-repeat;
  }

  .accordion__icon.active {
    max-width: 36px;
    width: calc(36 / 1280 * 100vw);
    /* height: 36px; */
    background-image: url(/images/minus.svg);
    background-repeat: no-repeat;
  }
  .accordion__title--position {
    font-size: 48px;
    font-family: 'Roboto';
    font-weight: bold;
  }

  .position__list__link {
    display: none;
  }

  .position__list__link.active {
    display: flex;
  }
  .position__list__item {
    display: flex;
    gap: 24px;
    font-size: 15px;
  }
  .position__list__item a {
    color: #fff;
  }

  .position__list__arrow {
    position: relative;
    display: inline-block;
    padding-left: 20px;
  }

  .position__list__arrow:before {
    content: '';
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }

  /* ポジション  ここまで */

  /* 社員紹介・福利厚生 */
  .accordion__member--system {
    max-width: 440px;
    width: calc(440 / 1280 * 100vw);
    margin-inline-end: 80px;
  }

  .accordion__title--menber {
    margin-block-start: 24px;
  }

  .accordion__member--system p {
    font-size: 16px;
    margin-block-start: 12px;
    padding-block-end: 24px;
    border-bottom: 1px solid #484848;
    color: #fff;
  }

  .accordion__title--menber {
    font-size: 48px;
    font-family: 'Roboto';
    font-weight: bold;
    color: #fff;
  }

  .accordion__title--system {
    font-size: 48px;
    font-family: 'Roboto';
    font-weight: bold;
    color: #fff;
    margin-block-start: 24px;
  }

  /* クロストーク */

  .accordion__crosstalk--area {
    max-width: 440px;
    width: calc(440 / 1280 * 100vw);
    /* height: 180px; */
    border-bottom: 1px solid #484848;
    cursor: pointer;
    padding-block-end: 24px;
  }

  .accordion__title--area.active {
    display: flex;
  }

  .accordion__title--area {
    position: relative;
  }

  .accordion__title--area p {
    font-size: 16px;
    margin-block-start: 12px;
    margin-block-end: 24px;
  }

  .accordion__title--crosstalk {
    font-size: 48px;
    font-family: 'Roboto';
    font-weight: bold;
  }

  .title__crosstalk {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .crosstalk__icon {
    max-width: 36px;
    width: calc(36 / 1280 * 100vw);
    height: 36px;
    background-image: url(/images/plus.svg);
    background-repeat: no-repeat;
  }

  .crosstalk__icon.active {
    max-width: 36px;
    width: calc(36 / 1280 * 100vw);
    /* height: 36px; */
    background-image: url(/images/minus.svg);
    background-repeat: no-repeat;
  }
  .crosstalk__list__link {
    display: none;
  }

  .crosstalk__list__link.active {
    display: flex;
  }
  .crosstalk__list__item {
    display: flex;
    gap: 24px;
    font-size: 15px;
  }
  .crosstalk__list__item a {
    color: #fff;
  }

  .crosstalk__list__arrow {
    position: relative;
    display: inline-block;
    padding-left: 20px;
  }

  .crosstalk__list__arrow:before {
    content: '';
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }

  /* クロストークここまで */
  /* データ */

  .accordion__data--area {
    max-width: 440px;
    width: calc(440 / 1280 * 100vw);
    /* height: 188px; */
    border-bottom: 1px solid #484848;
    cursor: pointer;
    padding-block-end: 24px;
  }

  .accordion__title--area.active {
    display: flex;
  }

  .accordion__title--area {
    position: relative;
  }

  .accordion__title--area p {
    font-size: 16px;
    margin-block-start: 12px;
    margin-block-end: 24px;
  }

  .accordion__title--data {
    font-size: 48px;
    font-family: 'Roboto';
    font-weight: bold;
    margin-block-start: 24px;
  }

  .title__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .data__icon {
    max-width: 36px;
    width: calc(36 / 1280 * 100vw);
    height: 36px;
    background-image: url(/images/plus.svg);
    background-repeat: no-repeat;
    margin-block-start: 24px;
  }

  .data__icon.active {
    max-width: 36px;
    width: calc(36 / 1280 * 100vw);
    height: 36px;
    background-image: url(/images/minus.svg);
    background-repeat: no-repeat;
    margin-block-start: 24px;
  }

  /* .accordion__title--data::before,
.accordion__title--data::after {
 position: absolute;
 content: '';
 width: 14px;
 height: 1px;
 background-color: #fff;
} 

.accordion__title--data::after {
 top: 50%;
 right: 10px;
 transform: translateY(-50%) rotate(0deg);
}

.accordion__title--data::before {
 top: 50%;
 right: 10px;
 transform: translateY(-50%) rotate(90deg);
} */

  .data__list__link {
    display: none;
  }

  .data__list__link.active {
    display: flex;
  }
  .data__list__item {
    display: flex;
    gap: 24px;
    font-size: 15px;
  }
  .data__list__item a {
    color: #fff;
  }

  .data__list__arrow {
    position: relative;
    display: inline-block;
    padding-left: 20px;
  }

  .data__list__arrow:before {
    content: '';
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
  .link__site--area {
    display: flex;
    justify-content: right;
  }

  .link__site {
    margin-block-start: 46px;
    display: flex;
    align-content: center;
    padding-block-end: 10px;
    color: #fff;
    max-width: 106px;
    border-bottom: 1px solid #484848;
    white-space: nowrap;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: bold;
    gap: 10px;
  }

  /* ハンバーガーレスポンシブ  */
  @media screen and (max-width: 768px) {
    .img-pc {
      display: none;
    }

    .img-sp {
      display: flex;
    }

    .hamburger__list--item2 {
      display: block;
    }
    .hamburger__link--entry {
      display: none;
    }

    /* .hamburger__menu {
      display: block;
      height: 100%;
    } */

    .hamburger__menu--list {
      display: block;
      justify-content: center;
    }

    /* ポジション */

    .hamburger__menu--list {
      width: 312px;
      display: block;
    }

    .accordion__position--area {
      width: 312px;
      margin: inherit;
    }
    .accordion__title--area {
      display: flex;
    }

    .title__position {
      display: flex;
      flex-direction: column;
      white-space: nowrap;
    }

    .accordion__icon {
      order: 2;
    }
    .title__position p {
      order: 1;
    }

    .accordion__title--area p {
      font-size: 15px;
      margin: inherit;
    }

    .accordion__title--position {
      width: 106px;
      font-size: 28px;
    }

    .accordion__icon {
      display: none;
    }

    .sp__icon {
      width: 28px;
      height: 28px;
      background-image: url(/images/plus_sp.svg);
    }

    .sp__icon.active {
      width: 28px;
      height: 28px;
      background-image: url(/images/minus_sp.svg);
    }

    .position__list__item {
      display: grid;
      grid-template-columns: 1fr;
      font-size: 15px;
      margin-block-start: 32px;
      gap: 29px;
    }
    .link__site--area {
      display: none;
    }

    .sp__link--entry {
      display: flex;
    }

    /* ここまでポジション */
    /* ここから社員紹介 */

    .accordion__member--system {
      width: 312px;
    }

    .title__menber--area {
      display: flex;
      width: 312px;
      height: 60px;

      margin-block-end: 16px;
    }
    .title__system--area {
      display: flex;
      width: 312px;
      height: 60px;
    }

    .accordion__title--menber {
      font-size: 28px;
      width: 312px;
      margin: inherit;
    }
    .title__menber--area p {
      font-size: 15px;
      width: 312px;
    }

    .accordion__title--system {
      font-size: 28px;
      margin: inherit;
    }
    .title__system--area {
      display: flex;
      width: 312px;
      height: 60px;
      margin: inherit;
      margin-block-end: 16px;
    }

    .title__system--area p {
      font-size: 15px;
    }
    */

  /* クロストーク */

  .accordion__crosstalk--area {
      width: 312px;
      margin: inherit;
      margin-block-end: 16px;
    }
    .rosstalk__list__link {
      display: block;
      width: 312px;
    }

    .accordion__title--area p {
      font-size: 15px;
      margin: inherit;
    }

    .accordion__title--crosstalk {
      width: 106px;
      font-size: 28px;
    }

    .crosstalk__icon {
      display: none;
    }

    .sp__icon {
      width: 28px;
      height: 28px;
      background-image: url(/images/plus_sp.svg);
      background-repeat: no-repeat;
    }

    .sp__icon.active {
      width: 28px;
      height: 28px;
      background-image: url(/images/minus_sp.svg);
    }

    .crosstalk_list__item {
      display: grid;
      grid-template-columns: 1fr;
      font-size: 15px;
      margin-block-start: 32px;
      gap: 29px;
    }
    */

  /* データ */

  .accordion__data--area {
      width: 312px;
    }
    .accordion__title--area p {
      font-size: 15px;
      margin: inherit;
    }

    .accordion__title--data {
      width: 106px;
      font-size: 28px;
    }

    .data_icon {
      display: none;
    }
    */ .sp__icon {
      width: 28px;
      height: 28px;
      background-image: url(/images/plus_sp.svg);
    }

    .sp__icon.active {
      width: 28px;
      height: 28px;
      background-image: url(/images/minus_sp.svg);
      background-repeat: no-repeat;
    }

    .data_list__item {
      display: grid;
      grid-template-columns: 1fr;
      font-size: 15px;
      margin-block-start: 32px;
      gap: 29px;
    }
  }
  */ @media screen and (min-width: 768px) {
    .img-sp {
      display: none;
    }

    .sp__link--entry {
      display: none;
    }
  }
</style>

<script>
  $(function () {
    $('.header__hamburger--menu').on('click', function () {
      $(this).toggleClass('active');
      $('.hamburger__menu').toggleClass('active');
    });
  });

  $(function () {
    $('.title__position').on('click', function () {
      $(this).toggleClass('active');
      $('.position__list__link').toggleClass('active');
      $('.accordion__icon').toggleClass('active');
    });
  });

  $(function () {
    $('.title__crosstalk').on('click', function () {
      $(this).toggleClass('active');
      $('.crosstalk__list__link').toggleClass('active');
      $('.crosstalk__icon').toggleClass('active');
    });
  });

  $(function () {
    $('.title__data').on('click', function () {
      $(this).toggleClass('active');
      $('.data__list__link').toggleClass('active');
      $('.data__icon').toggleClass('active');
    });
  });
</script>
