<header class="header">
  <div class="g-nav">
    <h1 class="top__logo">
      <img src="public/images/top_logo.svg" alt="ロゴの画像" class="img-pc" />
    </h1>
    <div class="nav__area">
      <div class="top__link--entry">
        <a href="#">Entry</a>
      </div>

      <!-- ハンバーガーメニュー -->
      <div class="header__hamburger">
        <div class="header__hamburger--menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>

<style>
  @charset "UTF-8";

  ul {
    list-style: none;
  }

  a {
    /* color: #000; */
    text-decoration: none;
  }
  a:hover {
    opacity: 0.7;
  }
  .header {
    position: fixed;
    top: 0;
    /* max-width: 100vh; */
    width: 100%;
    z-index: 200;
  }

  .g-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 14px;
    margin-inline: 40px;
    z-index: 5000;
    @media screen and (max-width: 768px) {
      margin-inline: 14px;
      margin-block-start: 12px;
    }
  }

  .img-pc {
    width: calc(332.98 / 1280 * 100vw);

    @media screen and (max-width: 768px) {
      width: calc(175px / 1280 * 100vw);
    }
  }

  .nav__area {
    display: flex;
    height: 46px;
  }

  /* エントリーリンク */
  .top__link--entry {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 46px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin-inline-end: 24px;

    @media screen and (max-width: 768px) {
      max-width: 80px;
      height: 36px;
      font-size: 15px;
      margin-block: auto;
    }
  }

  .top__link--entry a {
    color: #000;
    font-size: 24px;
    font-family: 'Roboto';
  }

  .header__hamburger {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 
    @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  }

  .header__hamburger--menu {
    width: 30px; /* ハンバーガーメニューの横幅 */
    height: 22px; /* ハンバーガーメニューの高さ */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* 垂直方向に中央揃え */
    cursor: pointer;
    position: relative;
    /* z-index: 200; */
    @media screen and (max-width: 768px) {
      width: 24px;
    }
  }

  .header__hamburger--menu span {
    width: 100%; /* メニュー全体の幅に合わせる */
    height: 2px;
    background-color: #000;
    /* z-index: 300; */
  }

  /* .header__hamburger--menu :hover{
background-color: #E8E8E8;
} */

  /* .header__hamburger--menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 5px);
    background-color: #fff;
  }

  .header__hamburger--menu.active span:nth-child(2) {
    opacity: 0;
  }

  .header__hamburger--menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -5px);
    background-color: #fff;
  } */
</style>
<script></script>
