<main class="main">
  <div class="mv__area">
    <div class="mv__item">
      <img src="/images/display_text.svg" alt="" class="mv__displaytext" />
      <img src="/images/tagline_text.svg" alt="" class="mv__tagline" />
      <img src="/images/display_textsp.svg" alt="" class="mv__displaytextsp" />
      <img src="/images/tagline_textsp.svg" alt="" class="mv__taglinesp" />
    </div>
  </div>

  <div class="scroll">
    <span>Scroll</span>
  </div>
</main>

<style>
  .mv__area {
    background-image: url(images/kv_bg_lg.png);
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: center; /* 子要素を中央揃え */
    height: 100vh;
    @media screen and (max-width: 768px) {
      background-image: url(/images/kv_bg_sm.png);
      position: relative;
      height: 570px; /* 全画面を覆う場合 */
    }
  }

  .mv__item {
    max-width: 100vw;
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
    flex-direction: column; /* 子要素を縦方向に並べる場合 */
    text-align: center; /* 中央揃えの補助 */
    /* margin-block-start: 57px; */

    top: 0;
  }

  .mv__displaytext {
    position: absolute;
    max-width: 1161px;
    width: calc(636 / 1280 * 100vw);
    top: 104px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .mv__displaytextsp {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
      max-width: 192.7px;
      height: 480px;
      margin-block-start: 44px;
    }
  }

  .mv__tagline {
    max-width: 820.12px;
    width: 100vw;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .mv__taglinesp {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
      width: 331px;
      position: absolute;
      top: 189px;
    }
  }

  /* スクロールダウンの位置 */
  .scroll {
    position: absolute;
    right: 38px;
    top: 50%;
    writing-mode: vertical-rl;
    @media screen and (max-width: 768px) {
      position: absolute;
      right: 50%;
      top: 465px;
      writing-mode: horizontal-tb;
    }
  }

  /* 線のアニメーション部分 */
  .scroll::before {
    animation: scroll 2s infinite;
    background-color: #000;
    bottom: -50px;
    content: '';
    height: 40px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 1px;
    z-index: 2;
  }
  /* 線の背景色 */
  .scroll::after {
    background-color: #ccc;
    bottom: -50px;
    content: '';
    height: 40px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 1px;
  }
  /* 線のアニメーション */
  @keyframes scroll {
    0% {
      transform: scale(1, 0);
      transform-origin: 0 0;
    }
    50% {
      transform: scale(1, 1);
      transform-origin: 0 0;
    }
    51% {
      transform: scale(1, 1);
      transform-origin: 0 100%;
    }
    100% {
      transform: scale(1, 0);
      transform-origin: 0 100%;
    }
  }
</style>
