<section class="section">
  <div class="data__work--area">
    <div class="data__area--left">
      <p class="data__sub--title">数字でみるSAMPLE・Q&A</p>
      <div class="data__title">
        <img src="/images/title_datapc.svg" alt="" />
      </div>
      <a href="#" class="data__btn">
        View More
        <img src="/images/deta_icon.svg" alt="" class="data__icon" />
      </a>
    </div>
    <div class="work__area--right">
      <p class="work__sub--title">実績紹介</p>
      <div class="work__title">
        <img src="/images/title_workpc.svg" alt="" />
      </div>
      <a href="#" class="work__btn">
        Official Site
        <img src="public/images/links_icon.svg" alt="" class="work__icon" />
      </a>
    </div>
  </div>
</section>

<style>
  @charset "UTF-8";

  ul {
    list-style: none;
  }

  a {
    color: #000;
    text-decoration: none;
  }

  .section {
    border-bottom: 1px solid ##9c9c9c;
  }
  .data__work--area {
    height: 402px;
    background: linear-gradient(100deg, #fff 50%, #000 50%);
    display: flex;
    position: relative;
  }

  @media screen and (max-width: 768px) {
    .data__work--area {
      display: block;
      background: none;
      max-height: 427px;
      text-align: center;
    }
  }

  .data__area--left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid ##9c9c9c;
  }

  @media screen and (max-width: 768px) {
    .data__area--left {
      width: 100%;
      padding: 50px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      width: 100vw;
    }
  }

  .work__area--right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .work__area--right {
      width: 100%;
      padding: 50px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #000;
      width: 100vw;
    }
  }

  .data__sub--title {
    margin-block-end: 28px;
  }

  .work__sub--title {
    font-size: 16px;
    color: #fff;
    margin-block-end: 28px;
  }

  .data__btn {
    display: inline-flex;
    align-items: center;
    margin-block-start: 36px;
    gap: 18px;
    padding-block: 15px;
    padding-inline: 40px;
    font-size: 18px;
    border: 1px solid #9c9c9c;
  }

  .data__icon {
    width: 10px;
    height: 10px;
  }

  .work__btn {
    color: #fff;
    display: inline-flex;
    align-items: center;
    margin-block-start: 36px;
    gap: 54px;
    padding-block: 15px;
    padding-inline: 40px;
    font-size: 18px;
    border: 1px solid #484848;
  }

  .work__icon {
    width: 12px;
    height: 12px;
  }
</style>
